@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Playwrite+GB+S:ital@0;1&family=Roboto&display=swap");

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.montserrat-index {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.montserrat-index-altslogan {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.playwrite-gb-s-text {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
